# Virtual Environment
inv_plan_venv/
venv/
env/
*.pyc
__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

#Running Instructions and Modular Structure
running_the_app.md
modular_structure.md